body {
  background: #222840;
  background: -webkit-linear-gradient(bottom, #222840, #e1f7fb);
  background: -moz-linear-gradient(bottom, #222840, #e1f7fb);
  background: linear-gradient(to top, #222840, #e1f7fb);
  margin: 0;
}

h1 {
  color: rgb(49, 85, 85);
}

h2 {
  color: rgb(248, 199, 244);
}

p {
  color: #580909;
}

footer {
  text-align: center;
  padding: 50px 30px 5px;
  color: white;
  font-size: 14px !important;
  background-color: rgb(28, 66, 97);
}

footer p {
  color: white;
}

.bg {
  background-color: rgb(210, 231, 248);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-style: ridge;
  background-color: rgb(240, 209, 182);
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-style: ridge;
  background-color: rgb(184, 149, 176);
}

.box3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-style: ridge;
  background-color: rgb(110, 196, 132);
}

.item {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 50px;
}

.list {
  border-radius: 20px;
  margin: 0px 30px 50px;
  background-color: rgb(103, 151, 124);
  text-align-last: center;
}

.item:hover {
  background-color: rgba(196, 214, 115, 0.4);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(22, 67, 68, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  font-family: "Oswald", sans-serif;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 20%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.desc {
  padding: 15px;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(13, 80, 74);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 102%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
